body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: #ffffff url('../images/redox_01.png'); /* Background pattern from Subtle Patterns */
}

.header {
    margin: 45px 10px 0;
}

.scorePanel {
    font-size: 1rem;
    font-weight: bold;
    line-height: .8;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.modalContent {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    top: 216px;
    width: 503px;
    min-height: 246px;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.169);
    animation-name: openModal;
    animation-duration: 2s;
    background: #f4f4f4 url('../images/paper.png'); /* Background pattern from Subtle Patterns */
}

@keyframes 
openModal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modalHeader {
    margin: 0;
    padding: 15px;
}

.button {
    display: block;
    width: 30%;
    height: 2.2rem;
    align-self: center;
    border-radius: 7px;
    color: #fff;
    background: #4cbd42;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5); 
}

.button:hover, 
.button:focus {
    cursor: pointer;
    background-color: #2e3d49;
    text-decoration: none;
}

